@import '../../styles/variables';
@import '../../styles/mixins';

.NASA-Project__Button__{
    &Container{
        position: relative;
        display: inline-block;        

        button{
            background: transparent;
            border: none;
            margin: none;
            color: $darkGrey;
            cursor: pointer;
            z-index: 10;                    
            transition: transform .3s ease-in-out;
            @include fluid-font-size(2rem, 3rem);

            &:hover{
                transform: scale(1.2);  
            }
        }

    .tooltiptext {
        visibility: hidden;    
        width: max-content;
        @include fluid-font-size(1.5rem, 1.8rem);
        background-color: $darkGrey;
        color: $lightGrey;
        text-align: center;
        border-radius: 14px;
        padding: 4px 13px;
        cursor: default;   
        position: absolute;
        z-index: 1;
        top: -110%;
        right: -32%;        
        transition: show-in-out .3s ease-in-out; 
    }

        &:hover .tooltiptext {
            visibility: visible;            
        }
    }
}