@import '../../styles/variables';
@import '../../styles/mixins';

.NASA-Project__Button__{
    &Container-{
        &default{
            position: relative;
            display: inline-block;
            align-self: center;        

            button{
                background: transparent;
                border: none;
                margin: 0;
                padding: 0;
                color: $darkGrey;
                cursor: pointer;
                z-index: 10;                    
                transition: transform .3s ease-in-out;
                @include fluid-font-size(2rem, 3rem);

                &:hover{
                    transform: scale(1.2);  
                }
            }

            .tooltiptext {
                visibility: hidden;    
                width: max-content;
                @include fluid-font-size(1.2rem, 1.8rem);
                background-color: $darkGrey;
                color: $lightGrey;
                text-align: center;
                border-radius: 14px;
                padding: 4px 10px;
                cursor: default;   
                position: absolute;
                z-index: 1;
                top: -110%;
                right: -65%;
                transition: visibility .3s ease-in-out; 
                
                &.show{
                    visibility: visible;
                }
            }

            // &:hover .tooltiptext {
            //     visibility: visible; 
            //     animation: showIn 1s showOut 1s 1s;           
            // }
        }

        &viewMore{
            margin: 15px auto;
            
            button{
                display: inline-block;
                width: max-content;
                padding: 12px;                
                @include fluid-font-size(1rem, 2rem);
                color: $darkGrey;
                background-color: $lightGrey;
                border: 1.5px solid $darkGrey;
                border-radius: 20px;
                cursor: pointer;
                transition: all 0.3s ease-in-out;
                font-weight: bold;

                &:hover{
                    background-color: $lightBlue;
                }
            }            
        }
        
    }
}

@keyframes showIn {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }    
}

@-webkit-keyframes showIn {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
    
}

@keyframes showOut {
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }    
}

@-webkit-keyframes showOut {
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }    
}
