@import '../../styles/variables';
@import '../../styles/mixins';
.NASA-Project-Photos__{
    &Container{
        display: flex;       
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: stretch;
        padding: 0;
        &.loading{
            margin-bottom: 500px;
        }
    }    

    &SinglePhoto{  
        display: flex;
        flex-direction: column;
        align-self: flex-start;
        background-color: rgba(231, 237, 243, 0.5);
        width: 45%;
        max-height: auto;
        margin-bottom: 15px;
        padding: 0 0 10px 0;
        border-radius: 10px;
        box-shadow:0.2px 0.2px 5px 0.2px #666565;

        @media only screen and (max-width:900px){
            width: 100%;
        }   
    }    

    &Picture{
        width: 95%;
        border-radius: 10px;        
        min-height: 100px;
        overflow: hidden;
        margin: 0 auto;
        padding-top: 15px;
        
    
        & img{
            width: 100%;
            height: 100%;
            object-fit: contain;
            border-radius: 10px;
            @include fluid-font-size(1rem, 1.5rem);
            font-family: 'Raleway', sans-serif;
        }
    }

    &DescriptionSection{
        display: flex;
        flex-direction: column;  
        cursor: default;
    }

    &Date{
        cursor: default;
        width: 95%;
        margin: 20px auto;
    }

    &Expandable{        
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        cursor: pointer;
        padding: 0 2.5%;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        transition: all 0.3s ease-in-out;        

        &:hover{            
            background-color: $lightBlue;
        }

        .NASA-Project__Button__Container{            
            align-self: center;
            padding:0;
        }
    }

    &Title{
        display: inline-block;
        color: $metalGrey;
        width: 80%;
    }

    &Description{ 
        padding: 0 2.5%; 
        max-height: 0;             
        overflow: hidden;    
        // white-space:nowrap;    
        transition: max-height 0.5s ease-in-out;
        // text-overflow: ellipsis;      
        
        &.show{      
            max-height: 100vh;  
        }
    }

    &Buttons{
        display: flex;
        justify-content: space-between;
        width: 95%;
        margin: 0 auto;
    }
}
