@import '../../styles/variables';
@import '../../styles/mixins';
.NASA-Project__Banner__{
    &Container{
        display: inline-block;
        position: fixed;
        z-index: 20;
        top: 2%;
        left: 50%;
        transform: translateX(-50%);
        background-color: $lightBlue;        
        color: $darkBlue;
        border-radius: 14px;
        padding: 10px 14px;
        text-align: center;
        @include fluid-font-size(1rem, 1.7rem);

        &.-show{
            visibility: visible;
            animation: fadeIn 1s fadeOut 1s 2s;
        }

        &.-hide{
            visibility: hidden;                
        }

        p{
            margin: 0;
            font-weight: 400; 
        }        
    }    
}

@keyframes fadeIn {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }    
}

@-webkit-keyframes fadeIn {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
    
}

@keyframes fadeOut {
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }    
}

@-webkit-keyframes fadeOut {
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }    
}




